# Aurora Linux Kickstart - Instalacao 100% automatizada
text
keyboard --vckeymap=br-abnt2
lang pt_BR.UTF-8
timezone America/Sao_Paulo --utc
network --bootproto=dhcp --device=link --activate
clearpart --all --initlabel --disklabel=gpt
reqpart --add-boot
part / --grow --fstype=xfs
ostreecontainer --url ghcr.io/ublue-os/aurora:latest --no-signature-verification
rootpw --lock
user --name=aurora --groups=wheel --password=aurora
reboot --eject
